black==23.7.0
click==8.1.6
contourpy==1.1.0
cycler==0.11.0
fonttools==4.41.0
kiwisolver==1.4.4
matplotlib==3.7.2
mypy-extensions==1.0.0
numpy==1.25.1
opencv-python==4.8.0.74
packaging==23.1
pathspec==0.11.1
Pillow==10.0.0
platformdirs==3.9.1
pyparsing==3.0.9
python-dateutil==2.8.2
scipy==1.11.1
six==1.16.0
